<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="top">
      <h1>O criador</h1>
      <img src="assets/img/criador.jpg" alt="criador" width="150" height="150">
      <h2>João Ferreira</h2>
      <span>Estudante de Engenharia Informática</span>
    </div>
    <div class="info-group">
      <div class="info">
        <div class="title">▸ Idade</div>
        <div class="data">Atualmente com 19 anos</div>
      </div>
      <div class="info">
        <div class="title">▸ Localidade</div>
        <div class="data">Vila Nova de Famalicão</div>
      </div>
      <div class="info">
        <div class="title">▸ Universidade</div>
        <div class="data">Instituto Politécnico Viana do Castelo</div>
      </div>
    </div>
    <img class="ipvc-divider" src="assets/img/ipvc-divider.svg" alt="Separador" />
    <div class="top">
      <h1>A aplicação</h1>
    </div>
    <div class="info-group">
      <div class="info">
        <div class="title">▸ Versão</div>
        <div class="data">{{version}}</div>
      </div>
    </div>
  </div>
</ion-content>