<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>História</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">História</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="top">
      <h1>Não são só as receitas que são incríveis</h1>
    </div>
    <div class="history"><ion-img src="../../assets/img/history.svg" alt="Imagem de uma pessoa a ler notícias"></ion-img></div>
    <div class="middle">
      <h2>A história também é!</h2>
      <p>Vila Nova de Famalicão nasceu para a história a 1 de Julho de 1205, com o Foral de D. Sancho I. A sua gastronomia é um rico reflexo da cultura e das tradições da região do Minho. Rica em sabores e aromas, oferece uma experiência culinária autêntica e inesquecível.</p>
    </div>
  </div>
</ion-content>
