<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>História</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">História</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="top">
      <h1>Não são só as receitas que são incríveis</h1>
    </div>
    <div class="history"><ion-img src="../../assets/img/history.svg" alt="Imagem de uma pessoa a ler notícias"></ion-img></div>
    <div class="middle">
      <h2>A história também é!</h2>
      <p>Vila Nova de Famalicão nasceu para a história a 1 de Julho de 1205, com o Foral de D. Sancho I. A sua gastronomia é um rico reflexo da cultura e das tradições da região do Minho. Rica em sabores e aromas, oferece uma experiência culinária autêntica e inesquecível.</p>
      <p>Alguns historiadores referem que a povoação  hoje denominada Vila Nova de Famalicão já era, nos alvores da  nacionalidade portuguesa, sede administrativa e judicial da Terra de  Vermoim. Vila Nova de Famalicão é hoje uma terra frequentemente mencionada  como um dos principais centros culturais, comerciais e industriais do  país. Situada estrategicamente entre as cidades de Braga, Guimarães e  Porto, Famalicão é uma cidade de referência no Baixo Minho e no Vale do  Ave.</p>
      <p>Com uma rica e variada tradição cultural que remonta aos tempos  pré-históricos, a comunidade famalicense tem-se afirmado com uma  personalidade própria e bem definida. </p>
      <p>Gente de trabalho. Os castros no cimo dos montes, as pontes que abraçam as margens dos  rios, as igrejas que reflectem espiritualidade, a nobreza das casas  solarengas, os usos e os costumes do amanho da terra, a riqueza do  artesanato e da gastronomia são um testemunho vivo de uma comunidade que  constrói o futuro a cada momento.</p>
    </div>
  </div>
</ion-content>
