<ion-content [fullscreen]="true">
  <div>
    <div class="header"><p class="app_name">Fama<span>Cook</span></p></div>
    <div class="container">
      <div class="cook_1"><ion-img src="../../assets/img/cook_1.svg" alt="Imagem de um cozinheiro"></ion-img></div>
      <div class="welcome_text">
        <h1 class="bold">BEM-VINDO</h1>
        <h4>Conheça as nossas receitas mais famosas</h4>
      </div>
      <div class="center">
        <ion-list class="recipes">
          <ion-item button detail="true" *ngFor="let item of local_recipes" router-direction="forward" routerLink="/receitas/{{item.id}}">
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" src={{item.image}} />
            </ion-avatar>
            <ion-label>
              <p class="overline">RECEITA {{item.difficulty}}</p>
              <h2>{{item.name}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-button color="app_primary" routerLink="/receitas" fill="outline" class="button">VER TODAS</ion-button>
      </div>
    </div>
  </div>
</ion-content>
